body{
    font-family: Arial;
    box-sizing: border-box;
    font-size: 2rem;
    background-image: linear-gradient(to  right, #F5F5F5, #DDDDDD, #F5F5F5, #DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5,#DDDDDD, #F5F5F5);
}

header{
    background-image: url(/kepek/fejleckep.png);
    background-size: cover;
    height: 250px;
}

header h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0.1rem 0.1rem gray;
}

#helyszin p{
    display: inl;
}

#helyszin img{
    float: left;
    padding: 20px;
}

#helyszin h3{
    font-size: 2.5rem;
    padding: 1.5rem;
}

.leiras{
    background-color: rgb(66, 66, 66);
    color: white;
    margin-top: 50px;
}

#helyszin li{
    margin: 0px 100px;
    text-align: center;
    list-style: none;
    text-decoration: underline;
}

h2, h3{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    text-decoration: underline;
    text-shadow: 0.1rem 0.1rem gray;
    margin-top: 30px;
}

p,ul{
    padding: 1rem 4rem;
}

.container{
    background-image: linear-gradient(to bottom right,#F3EFE0,#909999,#F3EFE0, #909999,#F3EFE0 );
    padding: 0;
    border: 5px solid black;
}

#utazas p{
    text-align: center;
}

#utazas div p{
    text-align: left;
}

#utazas div{
    text-align: left;
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

#erkezes, #szobak{
    float: left;
    height: 500px;
}

#etkezes img{
    float: right;
    padding: 20px;
}

#etkezes .leiras{
    height: 450px;
}

#programlehetosegek img{
    float: left;
    height: 300px;
    padding: 10px 5px;
    margin-top: 10px;
    background-color: rgb(66, 66, 66);
}

#programlehetosegek img:hover{
    transform: scale(1.05);
    transition: 0.7s;
}

#programok{
    clear: both;
}

@media screen and (max-width: 768px) {
    h3{
      font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    h3{
      font-size: 2.5rem;
    }

    p{
        font-size: 1.5rem;
    }
}

#hajo{
    float: right;
}

footer{
    clear: both;
    opacity: 0.8;
}

footer div{
    margin-bottom: -16px;
}

footer h3{
    text-align: left;
    text-decoration: none;
    padding: 1rem ;
    margin-top: 100px;
    font-size: 2rem;
}